<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="courses"></ion-back-button>
    </ion-buttons>
    <ion-title>Course Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="course" class="ion-no-margin" style="margin: 4px !important">

    <ion-card-header>
      <ion-card-title>{{ course.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ course.description }}</p>
    </ion-card-content>

    <ion-item lines="none">
      <ion-label>Is favorite?</ion-label>

      <!--
      <ion-toggle
        [checked]="animal.favorite"
        (ionChange)="toggleFavorite()"></ion-toggle>
      -->

      <!-- <ion-toggle
      [(ngModel)]="animal.favorite" 
        (ngModelChange)="toggleFavorite()"></ion-toggle> -->

      <ion-toggle
        [(ngModel)]="favorite"
        (ngModelChange)="toggleFavorite()"></ion-toggle>
    </ion-item>

    <br />
  </ion-card>
</ion-content>
