<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to StuddyBuddy!</ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-header>
  <ion-toolbar >

    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
     
      <ion-button [routerLink]="['/', 'developers']">
        <ion-icon name="construct"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/', 'animals']">
        <ion-icon name="fish"></ion-icon>
      </ion-button>

   
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <!--<ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>-->

  <ion-list *ngFor="let course of courses">
      <ion-item
        [routerLink]="['/courses', course.id]"
        class="ion-no-padding"
        style="margin: 4px !important">

        <!-- TODO: Add image to courses -->
        <ion-thumbnail slot="start">
          <img [src]="course.imageURL" alt="{{ course.description }} ">
        </ion-thumbnail>
        

        <ion-label>{{ course.title }}</ion-label>

      </ion-item>
  </ion-list>
</ion-content>
